language: cpp
matrix:
  include:
    - os: linux
      dist: xenial
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - ia32-libs g++-multilib
    - os: osx
      addons:
        homebrew:
          packages:
            - git-lfs
    - os: windows
before_install:
  - git lfs install
  - git lfs pull
script:
  - ./.travis/$TRAVIS_OS_NAME.sh